*{
    box-sizing: border-box;
}
div#header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    max-width: 82%;
    margin: auto;
    border-radius: 23px;
}
div.main {
    display: flex;
}
div.pre {
    align-content: center;
    font-size: 36px;
    padding: 15px;
}
div.main img {
    width: 490px;
    height: 520;
    border-radius: 21px;
    margin: 11px;
}
div.list {
    display: flex;
    justify-content: space-around;
}
div.list p{
    font-weight: bolder;
    margin: 21px;
}
div.list {
    font-size: 21px;
}
div.footer {
    display: flex;
    justify-content: center;
}
div.feedback {
    max-width: 35%;
    align-content: center;
    font-size: 32px;
}
input {
    font-size: 25px;
}
input:hover{
    font-size: 32px;
}
input:active{
    transform: translateY(7px);
}