*{
    box-sizing: border-box;
}
div#header {
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    max-width: 80%;
    border-radius: 23px;
}
main p{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
div.imagec img {
    width: 203px;
    height: auto;
    border-radius: 21px;
    opacity: 0.9;
}
div.imagec img:hover {
    opacity: 1;
}
div.imagec img:active {
    transform: translateY(5px);
}
div.imagec {
    display: inline-block;
    margin: 20px;
    text-align: center;
}
div.caption{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin: 15px;
    padding: 15px;
    font-style: oblique;
    font-weight: bolder;
}
div.caption:hover {
    box-shadow: 2px 2px 7px black;
}
div.cheif {
    display: flex;
}
div.image img {
    width: 370px;
    height: 450;
    border-radius: 21px;
    margin: 11px;
}
div.paragraph {
    align-content: center;
    font-size: 23px;
    line-height: 35px;
    text-align: justify;
    margin: 42px;
    text-shadow: 2px 2px 11px  black;
}
div#footer {
    max-width: 50%;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    border-radius: 35px;
}
div#footer p {
    text-align: center;
}
div.contact {
    font-size: 21px;
}
div.mail {
    font-size: 21px;
    align-content: center;
    padding: 21px;
}
div.mail a:hover {
    text-decoration: none;
}
div.icons {
    align-content: center;
    font-size: 25px;
    margin: 15px;
}
.fa-whatsapp {
    color: green;
    margin: 11px;
    transition: 0.3s;
}
.fa-whatsapp:hover {
    font-size: 32px;
}
.fa-whatsapp:active {
    transform: translateY(5px);
}
.fa-facebook {
    margin: 11px;
    color: blue;
    transition: 0.3s;
}
.fa-facebook:hover {
    font-size: 32px;
}
.fa-facebook:active {
    transform: translateY(5px);
}
.fa-instagram {
    color: red;
    margin: 11px;
    transition: 0.3s;
}
.fa-instagram:hover {
    font-size: 32px;
}
.fa-instagram:active {
    transform: translateY(5px);
}
.fa-twitter {
    margin: 11px;
    color: blue;
    transition: 0.3s;
}
.fa-twitter:hover {
    font-size: 32px;
}
.fa-twitter:active {
    transform: translateY(5px);
}
.fa-tiktok {
    color: black;
    margin: 11px;
    transition: 0.3s;
}
.fa-tiktok:hover {
    font-size: 32px;
}
.fa-tiktok:active {
    transform: translateY(5px);
}
p.footer {
    font-size: 25px;
    text-align: center;
    max-width: 15%;
    margin: auto;
    background-color: aliceblue;
    border-radius: 7px;
}